<section class="content-header">
  <h1>
    {{ 'MODULES.User.UserProfile' | translate }}
  </h1>
  <ol class="breadcrumb">
    <li><a  ui-sref="dashboard"><i class="fa fa-dashboard"></i> {{ 'MODULES.User.Home' | translate }}</a></li>
    <li class="active">{{ 'MODULES.User.UserProfile' | translate }}</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-3">

      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
          <file-uploader src="imageUrl" on-select="uploadUserPicture(file)" default-src="/assets/img/default-user.png"></file-uploader>
<!--          <img class="profile-user-img img-responsive img-circle" http-src="{{ imageUrl }}" err-src="/assets/img/default-user.png" alt="User profile picture">-->

          <h3 class="profile-username text-center">{{editableUser.firstName}} {{editableUser.lastName}}</h3>

          <p class="text-muted text-center">{{editableUser.email}}</p>

          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>{{ 'MODULES.User.CreatedDatePlaceholder' | translate }}</b> <a class="pull-right">{{editableUser.createdDate | date:'dd.MM.yyyy HH:mm:ss'}}</a>
            </li>
            <li class="list-group-item">
              <b>{{ 'MODULES.User.ModifiedDatePlaceholder' | translate }}</b> <a class="pull-right">{{editableUser.modifiedDate | date:'dd.MM.yyyy HH:mm:ss'}}</a>
            </li>
          </ul>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#settings" data-toggle="tab">{{ 'MODULES.User.Settings' | translate }}</a></li>
        </ul>
        <div class="tab-content">
          <div class="active tab-pane" id="settings">
            <form class="form-horizontal" name="userForm">
              <div class="form-group has-feedback">
                <label for="firstName" class="col-sm-2 control-label">{{ 'MODULES.Auth.FirstNamePlaceholder' | translate }}</label>
                <div class="col-sm-10">
                <input id="firstName" name="firstName" type="text" class="form-control" ng-model="editableUser.firstName" required>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>

                  <div ng-messages="userForm.firstName.$error" ng-show="userForm.firstName.$touched" class="error-messages">
                    <p ng-message="required">{{ 'MODULES.Auth.FirstNameEmptyMessage' | translate }}</p>
                  </div>
                </div>
              </div>
              <div class="form-group has-feedback">
                <label for="lastName" class="col-sm-2 control-label">{{ 'MODULES.Auth.LastNamePlaceholder' | translate }}</label>
              <div class="col-sm-10">
                <input id="lastName" name="lastName" type="text" class="form-control" ng-model="editableUser.lastName" required>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>

                <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$touched" class="error-messages">
                  <p ng-message="required">{{ 'MODULES.Auth.FirstNameEmptyMessage' | translate }}</p>
                </div>
              </div>
              </div>
              <div class="form-group has-feedback">
                <label for="email" class="col-sm-2 control-label">{{ 'MODULES.Auth.EmailPlaceholder' | translate }}</label>
              <div class="col-sm-10">
                <input id="email" name="email" type="text" class="form-control" ng-model="editableUser.email" required ng-disabled="true">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
              </div>
              </div>
              <div class="form-group has-feedback">
                <label for="phone" class="col-sm-2 control-label">{{ 'MODULES.Auth.PhonePlaceholder' | translate }}</label>
              <div class="col-sm-10">
                <input id="phone" name="email" type="text" class="form-control" ng-model="editableUser.phoneNumber">
                <span class="glyphicon glyphicon-phone form-control-feedback"></span>
              </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-danger" ng-click="saveUserDetails()">{{ 'MODULES.User.Save' | translate }}</button>
                </div>
              </div>
            </form>
          </div>
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
      <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>