
<div class="login-wrapper">
  <div class="login-box">
    <div class="login-logo">
      <b>ClawLibrary</b>
    </div>

    <div class="login-box-body">
      <p class="login-box-msg">
        {{ 'MODULES.Auth.SignInToVerify' | translate }}
      </p>
      <form name="verifyForm">
        <div class="form-group has-feedback">
          <input name="email" type="email" class="k-textbox form-control" placeholder="{{ 'MODULES.Auth.EmailPlaceholder' | translate }}" ng-model="verifyData.email" required />
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>

          <div ng-messages="verifyForm.email.$error" ng-show="verifyForm.email.$touched" class="error-messages">
            <p ng-message="required">{{ 'MODULES.Auth.EmailEmptyMessage' | translate }}</p>
            <p ng-message="email">{{ 'MODULES.Auth.EmailInvalidMessage' | translate }}</p>
          </div>
        </div>
        <div class="form-group has-feedback">
          <input name="password" type="password" class="form-control" placeholder="{{ 'MODULES.Auth.PasswordPlaceholder' | translate }}" ng-model="verifyData.password" required ng-minlength="8">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>

          <div ng-messages="verifyForm.password.$error" ng-show="verifyForm.password.$touched" class="error-messages">
            <p ng-message="required">{{ 'MODULES.Auth.PasswordEmptyMessage' | translate }}</p>
            <p ng-message="minlength">{{ 'MODULES.Auth.PasswordToShortMessage' | translate }}</p>
          </div>
        </div>
        
        <p class="error-messages">{{errorMessage}}</p>

        <div class="row">
          <div class="col-xs-12">
            <button ng-click="verify()" ng-disabled="verifyForm.$invalid || signingInProgress" class="btn btn-primary btn-block btn-flat">
              <span ng-hide="signingInProgress">{{'MODULES.Auth.SignIn' | translate }}</span>
              <span ng-show="signingInProgress"><i class="fa fa-spinner fa-spin fa-fw"></i></span>
            </button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
  </div>
</div>


<style>
  .login-wrapper {
    height: 100%;
    background: #3c8dbc;
    position: fixed;
    width: 100%;
  }

  .login-box {
    color: white;
  }
</style>