<div class="login-wrapper">
  <div class="login-box">
    <div class="login-logo">
      <b>ClawLibrary</b>
    </div>

    <div class="login-box-body">
      <p class="login-box-msg">
        {{ 'MODULES.Auth.RegisterNewAccount' | translate }}
      </p>

      <form name="registerForm">
        <div class="form-group has-feedback">
          <input name="firstName" type="text" class="form-control" placeholder="{{ 'MODULES.Auth.FirstNamePlaceholder' | translate }}" ng-model="registerData.firstName" required>
          <span class="glyphicon glyphicon-user form-control-feedback"></span>

          <div ng-messages="registerForm.firstName.$error" ng-show="registerForm.firstName.$touched" class="error-messages">
            <p ng-message="required">{{ 'MODULES.Auth.FirstNameEmptyMessage' | translate }}</p>
          </div>
        </div>

        <div class="form-group has-feedback">
          <input name="lastName" type="text" class="form-control" placeholder="{{ 'MODULES.Auth.LastNamePlaceholder' | translate }}" ng-model="registerData.lastName" required>
          <span class="glyphicon glyphicon-user form-control-feedback"></span>

          <div ng-messages="registerForm.lastName.$error" ng-show="registerForm.lastName.$touched" class="error-messages">
            <p ng-message="required">{{ 'MODULES.Auth.LastNameEmptyMessage' | translate }}</p>
          </div>
        </div>

        <div class="form-group has-feedback">
          <input name="email" type="email" class="form-control" placeholder="{{ 'MODULES.Auth.EmailPlaceholder' | translate }}" ng-model="registerData.email" required>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>

          <div ng-messages="registerForm.email.$error" ng-show="registerForm.email.$touched" class="error-messages">
            <p ng-message="required">{{ 'MODULES.Auth.EmailEmptyMessage' | translate }}</p>
            <p ng-message="email">{{ 'MODULES.Auth.EmailInvalidMessage' | translate }}</p>
            <p ng-show="existingUser === registerData.email">{{ 'MODULES.Auth.UserExistMessage' | translate }}</p>
          </div>
        </div>

        <div class="form-group has-feedback">
          <input name="phone" class="form-control" placeholder="{{ 'MODULES.Auth.PhonePlaceholder' | translate }}" ng-model="registerData.phoneNumber" required ng-minlength="8" ng-maxlength="12">
          <span class="glyphicon glyphicon-phone form-control-feedback"></span>

          <div ng-messages="registerForm.phone.$error" ng-show="registerForm.phone.$touched" class="error-messages">
            <p ng-message="required">{{ 'MODULES.Auth.PhoneEmptyMessage' | translate }}</p>
            <p ng-message="minlength">{{ 'MODULES.Auth.PhoneTooShortMessage' | translate }}</p>
            <p ng-message="maxlength">{{ 'MODULES.Auth.PhoneTooLongMessage' | translate }}</p>
          </div>
        </div>
        
        <div class="form-group has-feedback">
          <input name="password" type="password" class="form-control" placeholder="{{ 'MODULES.Auth.PasswordPlaceholder' | translate }}" ng-model="registerData.password" required ng-minlength="8">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>

          <div ng-messages="registerForm.password.$error" ng-show="registerForm.password.$touched" class="error-messages">
            <p ng-message="required">{{ 'MODULES.Auth.PasswordEmptyMessage' | translate }}</p>
            <p ng-message="minlength">{{ 'MODULES.Auth.PasswordToShortMessage' | translate }}</p>
          </div>
        </div>
        
        <div class="form-group has-feedback">
          <input name="passwordRetype" type="password" class="form-control" placeholder="{{ 'MODULES.Auth.PasswordRetypePlaceholder' | translate }}" ng-model="registerData.confirmPassword" required compare-to="registerData.password">
          <span class="glyphicon glyphicon-log-in form-control-feedback"></span>

          <div ng-messages="registerForm.passwordRetype.$error" ng-show="registerForm.passwordRetype.$touched" class="error-messages">
            <p ng-message="compareTo">{{ 'MODULES.Auth.PasswordsNotTheSameMessage' | translate }}</p>
          </div>
        </div>
        
        <p class="error-messages">{{errorMessage}}</p>

        <div class="row">
          <div class="col-xs-12">
            <button ng-click="register()" ng-disabled="registerForm.$invalid || registerInProgress" class="btn btn-primary btn-block btn-flat">
              <span ng-hide="registerInProgress">{{'MODULES.Auth.Register' | translate }}</span>
              <span ng-show="registerInProgress"><i class="fa fa-spinner fa-spin fa-fw"></i></span>
            </button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
  </div>
</div>

<div modal="registerConfirmation" template="/app/modules/auth/register/register.confirmation.html"></div>

<style>
  .login-wrapper {
    height: 100%;
    background: #3c8dbc;
    position: fixed;
    width: 100%;
  }

  .login-box {
    color: white;
  }
</style>