
<div class="login-wrapper">
  <div class="login-box">
    <div class="login-logo">
      <b>ClawLibrary</b>
    </div>

    <div class="login-box-body">
      <p class="login-box-msg">
        {{ 'MODULES.Auth.ResetPassword' | translate }}
      </p>
      <form name="resetForm">
        <div class="form-group has-feedback">
          <input name="email" type="email" class="k-textbox form-control" placeholder="{{ 'MODULES.Auth.EmailPlaceholder' | translate }}" ng-model="email" required />
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>

          <div ng-messages="resetForm.email.$error" ng-show="resetForm.email.$touched" class="error-messages">
            <p ng-message="required">{{ 'MODULES.Auth.EmailEmptyMessage' | translate }}</p>
            <p ng-message="email">{{ 'MODULES.Auth.EmailInvalidMessage' | translate }}</p>
          </div>
        </div>
        
        <p class="error-messages">{{errorMessage}}</p>

        <div class="row">
          <div class="col-xs-12">
            <button ng-click="reset()" ng-disabled="resetForm.$invalid || resetInProgress" class="btn btn-primary btn-block btn-flat">
              <span ng-hide="resetInProgress">{{'MODULES.Auth.Reset' | translate }}</span>
              <span ng-show="resetInProgress"><i class="fa fa-spinner fa-spin fa-fw"></i></span>
            </button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
  </div>
</div>


<style>
  .login-wrapper {
    height: 100%;
    background: #3c8dbc;
    position: fixed;
    width: 100%;
  }

  .login-box {
    color: white;
  }
</style>