
<header class="main-header">
  <a class="logo" ui-sref="dashboard">
    <span class="logo-mini"><b>C</b>L</span>
    <span class="logo-lg"><b>ClawLibrary</b></span>
  </a>
  <nav class="navbar navbar-static-top" role="navigation">
    <a href="_" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav navbar-right" ng-show="checkUser()">
        <li>
          <a class="hidden-xs" ng-click="login()">
            {{'MODULES.Auth.SignIn' | translate }}
          </a>
        </li>
        </ul>
        <ul class="nav navbar-nav" ng-show="!checkUser()">
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="_" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-user" aria-hidden="true"></i>

              <span class="hidden-xs">{{username}}</span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <p>
                  Email: {{username}}
                </p>
              </li>

              <li class="user-footer">
                <div class="pull-right">
                  <a class="btn btn-default btn-flat" ng-click="logout()">
                    {{'MODULES.Auth.SignOut' | translate }}
                  </a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
</div>
  </nav>
</header>
<aside class="main-sidebar">
  <section class="sidebar">
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <!-- /.search form -->
    <ul class="sidebar-menu">
      <li class="header">{{ 'MODULES.Shell.Navigation' | translate }}</li>
      <li ng-show="isRegularUser()" ui-sref="books" ui-sref-active="active"><a href="_"><i class="fa fa-cog"></i> <span>{{ 'MODULES.Shell.Books' | translate }}</span></a></li>
      <li ng-show="isAdmin()" ui-sref="settings" ui-sref-active="active"><a href="_"><i class="fa fa-cog"></i> <span>{{ 'MODULES.Settings.Settings' | translate }}</span></a></li>

    </ul>
  </section>
</aside>
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      &nbsp;
      <!--<small>Dodatkowy opis</small>-->
    </h1>
  </section>
  <section class="content">
    <div ui-view></div>
  </section>
</div>
<div class="control-sidebar-bg"></div>

